<p id="notice"><%= notice %></p>

<h1>My Todo List</h1>

<%= link_to 'New User task', new_user_task_path, remote: true %>
<div id="task-form"></div>

<div id="tasks">
  <%= render @user_tasks %>
</div>


